@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  width: 100vw;
  min-width: 230px;
}

section {
  @apply text-[#e6e6e6];
}

main {
  width: 100vw;
}

figure {
  flex: 1;
}

.intro {
  @apply relative h-[100vh];
  display: table;
  background-attachment: fixed;
}

.sub-section {
  display: table;
  background-attachment: fixed;
}

.line {
  @apply px-1 w-full;
}

.line span {
  @apply block w-full h-[1px] bg-[#333333] xl:h-[1px];
}

/* Precolonial section style*/

.pre-cardline {
  @apply pb-7 w-full;
}

.pre-cardline span {
  @apply block w-14 h-[2px] bg-[#333333];
}

/* Resistant groups style*/
.resistant-line {
  @apply block w-auto h-[2px] bg-[#333333];
}

/* Lancaster meeting */

figcaption {
  @apply text-[0.8rem];
}

.textTitle {
  @apply relative;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  line-height: 12px;
}

.word {
  position: relative;
  margin-right: 7px;
  margin-top: 12px;
  display: inline-block; /* Ensure the span takes the width of its content */
}

.shadow {
  position: absolute;
  opacity: 0.1;
}

.body-text {
  @apply font-light tracking-wide text-[0.97rem] md:text-base 2xl:text-[1.2vw]  2xl:leading-[1.8vw];
}

.textTitle {
  @apply font-medium text-cardText;
}

.heading-two {
  @apply text-2xl md:text-3xl 2xl:text-[2vw] text-cardText;
}

.margins {
  @apply px-2 md:px-20;
}

.button {
  @apply py-2 px-4 2xl:py-[1vw] 2xl:px-[1vw]
   border rounded-lg 2xl:rounded-xl
    text-sm md:text-lg xl:text-[1.2vw] text-white w-fit;
}

.footer-links {
  @apply text-[#323232] w-[30px] h-[30px] rounded-full flex items-center justify-center bg-[#969696] cursor-pointer hover:bg-transparent border border-[#969696];
}

.self-end {
  align-self: end;
}

.caption {
  @apply  pt-1 text-[0.7rem] 2xl:text-[0.7vw] 2xl:leading-[1.4vw];
}