@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  background: black;
}

section {
  @apply text-[#e6e6e6] flex flex-col;
}

.line {
  @apply px-1 py-32 w-full;
}

.line span {
  @apply block w-full h-[0.08px] bg-[#333333];
}

/* Precolonial section style*/

.pre-cardline {
  @apply pb-7 w-full;
}

.pre-cardline span {
  @apply block w-14 h-[2px] bg-[#333333];
}

/* Resistant groups style*/
.resistant-line {
  @apply block w-auto h-[2px] bg-[#333333];
}

/* Lancaster meeting */

figcaption {
  @apply text-[0.7rem];
}

.textTitle {
  @apply relative;
}


.paragraph {
  display: flex;
  flex-wrap: wrap;
  line-height: 12px;
}

.word {
  position: relative;
  margin-right: 7px;
  margin-top: 12px;
  
}

.shadow {
  position: absolute;
  opacity: 0.1;

}